.env

.DS_Store
Thumbs.db

*.pyc
*.pyo
*.pyd
__pycache__/
*.so

.venv/
venv/
env/
ENV/
__pypackages__/

db.sqlite3
staticfiles/
media/
*.log

build/
dist/
develop-eggs/
.eggs/
.installed.cfg
*.egg-info/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.nox/
.pyre/
.pytype/
.cache/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

docker-compose.override.yml
.dockerignore

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tmp
*.bak
*.swp
*.swo
*.~lock.*
*.orig