<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Producto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'proveedores/css/stylee.css' %}">
</head>
<body>
    <h1>Eliminar producto</h1>
    <p style="text-align: center; font-size: 18px;">
        ¿Seguro que deseas eliminar <strong>{{ producto.nombre }}</strong>?
    </p>

    <form method="post" class="form-actions">
        {% csrf_token %}
        <button type="submit" class="btn-danger">Sí, eliminar</button>
        <a href="{% url 'proveedores:dashboard' %}" class="btn-secondary">Cancelar</a>
    </form>
</body>
</html>
