<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body class="proveedor-form-page">
    <h1>Editar producto: {{ producto.nombre }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Contenedor de acciones -->
        <div class="form-actions">
            <button type="submit">Guardar cambios</button>
            <a href="{% url 'proveedores:dashboard' %}" class="btn-secondary">Volver al dashboard</a>
        </div>
    </form>
</body>
</html>
